* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#CC95C0, #DBD4B4, #7AA1D2);
  color: white;
}

.heading {
  text-align: center;
  font-size: small;
  padding: 30px;
  color: white;
  text-shadow: -1px -1px 0 lightseagreen, 1px -1px 0 lightseagreen, -1px 1px 0 lightseagreen, 1px 1px 0 lightseagreen;
}
.heading__h1 {
  padding-bottom: 20px;
}

.container {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
}
.container__card {
  padding-left: 14px;
  padding-top: 9px;
  width: 65px;
  height: 65px;
  background-color: lightseagreen;
  color: transparent;
  display: block;
  font-size: xx-large;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
}

.end {
  text-align: center;
  margin-top: 15vh;
  justify-items: center;
  height: 40%;
  padding: 40px;
  color: white;
  text-shadow: -1px -1px 0 lightseagreen, 1px -1px 0 lightseagreen, -1px 1px 0 lightseagreen, 1px 1px 0 lightseagreen .end __congrats;
  text-shadow-padding: 20px;
}
.end__timestamp {
  padding: 20px;
  padding-bottom: 40px;
}
.end__play-again {
  border: solid white 2px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50px;
  text-align: center;
  box-sizing: content-box;
  display: block;
  margin: 2px auto;
}

.display {
  display: none;
}

.show {
  animation: show 0.5s forwards;
}

.hide {
  animation: hide 2s forwards;
}

@keyframes show {
  0% {
    background-color: lightgreen;
    color: transparent;
  }
  100% {
    background-color: lightgreen;
    color: black;
  }
}
@keyframes hide {
  0% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: red;
    color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .container {
    border: solid white 2px;
    margin-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 80vh;
    width: 90vw;
  }
  .container__card {
    padding-left: 30px;
    padding-top: 30px;
    font-size: 120px;
    width: 100px;
    height: 100px;
    font-size: xx-large;
  }

  .end {
    font-size: x-large;
    height: 60%;
    padding: 50px;
  }
  .end__play-again {
    width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 40px;
    padding-left: 75px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 75px;
  }
  .container__card {
    padding-left: 40px;
    padding-top: 40px;
    font-size: 180px;
    width: 120px;
    height: 120px;
    font-size: xx-large;
  }

  .end {
    font-size: x-large;
    height: 60%;
    padding: 50px;
  }
  .end__play-again {
    width: 80px;
  }
}