@use "./SCSS/animations.scss";
@use "./SCSS/mediascreens.scss";
@use "./SCSS/styles.scss" as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: $background-gradient;
    color: $colorwhite;
    font-family: $font-robot;
}

.display {
    display: none;
}




